.header {
    display: flex;
    padding: 45px 0 0;
    margin: 0 auto;
    flex-direction: column;
    align-content: flex-start;
    width: 882px;
    border-bottom: 1px solid rgba(84,84,84,0.7);    
}


@media screen and (max-width: 1150px) {
    .header {
        width: 753px;
        padding: 40px 0 0;
    }
}


@media screen and (max-width: 960px) {
    .header {
        width: 660px;
        padding: 45px 0 0;
    }
}



@media screen and (max-width: 674px) {
    .header {
        width: 320px;
        padding: 28px 0 0 0;
    }
}  