.elements {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto 0;
    max-width: 882px;
    grid-gap: 16px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    
}

@media screen and (max-width: 960px) {
    .elements {
        width: 582px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 596px) {
    .elements {
        width: 282px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        grid-gap: 16px;
    }
}

