.profile__wrapper {
    
    display: flex;
    flex-direction: row;
    max-width: 336px;
}

@media screen and (max-width: 660px) {
    .profile__wrapper {
        max-width: 280px;
        margin-left: 29px;
        margin-right: 31px;
        
        display: flex;
        justify-content: space-between;
    }
}